In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [33]:
Data = pd.read_csv('../Cluster1Mondayn.csv')

In [34]:
data = Data.filter(['dayofyear', 'month', 'dayofweek', 'hourofday', 'minuteofday', 'season', 'Energy'])

In [35]:
data

      dayofyear  month  dayofweek  hourofday  minuteofday  season    Energy
0             1      1          1          0            0       1  0.228003
1             1      1          1          0           15       1  0.228003
2             1      1          1          0           30       1  0.228003
3             1      1          1          0           45       1  0.228003
4             1      1          1          1            0       1  0.228003
...         ...    ...        ...        ...          ...     ...       ...
1819        365     12          1         22           45       1  0.297636
1820        365     12          1         23            0       1  0.295781
1821        365     12          1         23           15       1  0.298563
1822        365     12          1         23           30       1  0.296708
1823        365     12          1         23           45       1  0.293000

[1824 rows x 7 columns]

In [36]:
from sklearn.ensemble import RandomForestRegressor

In [37]:
X = Data.filter(['dayofyear', 'month', 'dayofweek', 'hourofday', 'minuteofday', 'season'])
Y = Data.filter(['Energy'])

In [38]:
class Regressor(object):
    def __init__(self, X, y):
        self.X = X
        self.y = y
        
    def rf_model(self):
        self.rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
        # Perform K-Fold CV
        self.rf.fit(X,y)
    
    def predict(self, test_X):
        self.predictions = self.rf.predict(test_X)
        return self.predictions

    def make_csv(self):
        self.predictions_df = pd.DataFrame(self.predictions, columns=['Energy'])
        return self.predictions_df.to_csv('predictions_Random_Forest_Regressor.csv')

In [39]:
Regress = Regressor(X, Y)

In [40]:
Regress.rf_model()

/home/bhavesh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  if __name__ == '__main__':

In [41]:
predictions = Regress.predict(X)

In [42]:
predictions = pd.DataFrame(predictions, columns=['Energy'])

In [43]:
predictions

        Energy
0     0.228003
1     0.228003
2     0.228003
3     0.228003
4     0.228003
...        ...
1819  0.297017
1820  0.296783
1821  0.297569
1822  0.296668
1823  0.294076

[1824 rows x 1 columns]

# Metrics

In [44]:
from sklearn.metrics import mean_squared_error as MSE
from sklearn.metrics import mean_absolute_error as MAE
from sklearn.metrics import r2_score
def MAPE(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [45]:
MSE_RF = MSE(Y, predictions)
RMSE_RF = MSE(Y, predictions)**(0.5)
MAE_RF = MAE(Y, predictions)
MAPE_RF = MAPE(Y, predictions)
R2_RF = r2_score(Y, predictions)

In [46]:
Metric_RF = {
    'MSE_RF':MSE_RF,
    'RMSE_RF':RMSE_RF,
    'MAE_RF':MAE_RF,
    'MAPE_RF':MAPE_RF,
    'R_Squared_RF':R2_RF
}

In [47]:
Metric_RF

{'MSE_RF': 0.00011972884119541643,
 'RMSE_RF': 0.01094206750095321,
 'MAE_RF': 0.004586859497861811,
 'MAPE_RF': 2.0388687273080284,
 'R_Squared_RF': 0.9921687344859342}

In [24]:
Regress.make_csv()